.description {
  width: 50%;
  color: white;
  margin: auto;
  padding-left: 10%;
}

.description h1 {
  line-height: 1.2;
  font-size: 40px;
}

.description p {
  font-size: 14px;
  margin-top: 15px;
  letter-spacing: 0.5px;
  word-spacing: 1.5px;
}

@media (max-width: 376px) {
  .description {
    width: 100%;
    text-align: center;
    padding: 70px 11px 46px;
  }

  .description h1 {
    font-size: 25px;
  }

  .description p br {
    display: none;
  }
}